* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --yellow: #ffc14d;
  --lime: #e0ff4d;
  --purple: #8450ff;
  --indigo: #5c38b3;
}

/* Footer section  */
footer {
  padding: 1rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: #272727;
  color: #fff;
}

.react-icon {
  width: 50px;
  height: 50px;
  color: cyan;
}

.page {
  width: 100%;
  min-height: 80vh;
  padding: 1rem 4rem;
  line-height: 1.7;
  font-size: 1.3rem;
}

/* Navbar section  */
.main-header {
  width: 100%;
  margin: 0;
  padding: 0.25rem 1rem;
  background-color: #272727;
  color: var(--yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family:
    'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 0.25rem;
  font-size: 1.1rem;
}

.nav-link {
  color: var(--yellow);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.nav-link.active {
  color: var(--lime);
}

.nav-link:hover {
  color: var(--lime);
}

/* Homepage  */
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.button-group {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.link-button {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--indigo);
  border-radius: 0.25rem;
  transition: all 0.3s;
}

.link-button:hover {
  background-color: var(--purple);
}

/* Quote page  */
.quote-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.quote {
  font-size: 1.2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
}

.author {
  color: #333;
  font-style: italic;
}

/* Calculator page  */
.calculator-page {
  background-color: var(--yellow);
  color: #fff;
  display: flex;
}

.calculator-page .content {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(7, 60px);
  background-color: white;
  width: fit-content;
  padding: 1rem;
  gap: 0.25rem;
  border-radius: 1rem;
  box-shadow: 3px 5px 10px rgba(105, 105, 105, 0.707);
}

.calculator-grid > button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  background-color: white;
  border: none;
  border-radius: 0.2em;
  outline: none;
  transition: all 0.2s;
}

.calculator-grid > button:hover {
  box-shadow: 0 3px 10px #ccc;
  transform: translateY(-1px);
}

.calculator-grid .operator {
  background-color: var(--indigo);
  color: #fff;
}

.calculator-grid .operator:hover {
  background-color: var(--purple);
  transform: none;
}

.output-screen {
  grid-column: span 4;
  grid-row: span 2;
  background-color: #272727;
  border: solid 1px black;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-wrap: break-word;
}

.output-text {
  width: 100%;
  font-size: 2rem;
  overflow: hidden;
  color: white;
}

.formula {
  width: 100%;
  font-size: 1.3rem;
  color: powderblue;
}

.wide-btn {
  grid-column: span 2;
}
